{% extends 'baseEntreprise.html.twig' %}

{% block title %}Accords Refusés{% endblock %}

{% block content %}
<h1>Accords Refusés</h1>

{% if accords is empty %}
    <p>Aucun accord refusé.</p>
{% else %}
    <div class="row featured__filter">
        {% for accord in accords %}
            {% set materiel = accord.materielRecyclable %}
            <div class="col-lg-3 col-md-4 col-sm-6 mix valide">
                <div class="featured__item">
                    <div class="featured__item__pic">
                        {% if accord.materielRecyclable.image is not empty %}
                        {% set imagePath = accord.materielRecyclable.image|replace({'\\': '/'}) %}
                        <img src="{{ asset('uploads/' ~ imagePath|split('/')|last) }}" 
                                 alt="{{ materiel.name }}" 
                                 class="img-fluid" style="max-width: 100px;">
                        {% else %}
                            <p>Aucune image</p>
                        {% endif %}
                    </div>
                    <div class="featured__item__text">
                        <h6>{{ materiel.name }}</h6>
                        <p><strong>Client :</strong> {{ materiel.user.name }}</p>
                        <p><strong>Type de matériel :</strong> {{ materiel.typeMateriel }}</p>
                        <p><strong>Date de création :</strong> {{ materiel.datecreation|date('d/m/Y H:i') }}</p>
                        <a href="{{ path('accord_delete', {'id': accord.id}) }}" 
                           onclick="return confirm('Confirmer la suppression ?')">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}