{# templates/user/login.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Connexion - AutoLink{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .create-account-link:hover {
            color: black; /* Change color to black on hover */
        }
    </style>
{% endblock %}
{% block body %}
<div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-6">
        <div class="form-container">
            <h2 class="mb-4 text-center font-weight-bold">Connexion</h2>
            <form id="login-form" action="?" method="POST">
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="mb-4 form-group">
                    {{ form_label(form._username, 'Email', {'attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form._username, {'attr': {'class': 'form-control'}}) }}
                    <div class="form-error">
                        {{ form_errors(form._username) }}
                    </div>
                </div>
                <div class="mb-4 form-group">
                    {{ form_label(form._password, 'Password', {'attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form._password, {'attr': {'class': 'form-control', 'id': '_password'}}) }}
                    <div class="form-error">
                        {{ form_errors(form._password) }}
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="toggle-password" class="form-check-input">
                        <label for="toggle-password" class="form-check-label">Show Password</label>
                    </div>
                    <p class="mb-0" style="text-align: right;">
                        <a href="{{ path('forgot_password') }}" class="create-account-link">Forgot your password?</a>
                    </p>
                </div>
                <div class="d-grid">
                    <button class="g-recaptcha btn btn-primary btn-lg" data-sitekey="{{ recaptchaSiteKey }}" data-callback='onSubmit' data-action='submit'>Login</button>
                </div>
                {{ form_end(form) }}
            </form>
            {# Create account link #}
            <div class="text-center mt-4">
                <p class="mb-0">New to AutoLink? <a href="{{ path('create_account') }}" class="create-account-link">Create account</a></p>
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var togglePassword = document.getElementById('toggle-password');
            var passwordField = document.getElementById('_password');
            if (togglePassword && passwordField) {
                togglePassword.addEventListener('change', function () {
                    if (this.checked) {
                        passwordField.type = "text";
                    } else {
                        passwordField.type = "password";
                    }
                });
            } else {
                console.error('One or both elements (toggle-password or password-field) are not found.');
                console.log('toggle-password:', togglePassword);
                console.log('_password:', passwordField);
            }
        });
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function onSubmit(token) {
            document.getElementById('login-form').submit();
        }
    </script>
{% endblock %}
{% endblock %}